[submodule "MU_BASECORE"]
	path = MU_BASECORE
	url = https://github.com/microsoft/mu_basecore
	branch = release/202311
[submodule "Silicon/ARM/MU_TIANO"]
	path = Silicon/ARM/MU_TIANO
	url = https://github.com/microsoft/mu_silicon_arm_tiano
	branch = release/202311
[submodule "Common/MU_TIANO"]
	path = Common/MU_TIANO
	url = https://github.com/microsoft/mu_tiano_plus
	branch = release/202311
