[submodule "mu_basecore"]
	path = mu_basecore
	url = https://github.com/microsoft/mu_basecore
	branch = release/202311
[submodule "mu_silicon_arm_tiano"]
	path = mu_silicon_arm_tiano
	url = https://github.com/microsoft/mu_silicon_arm_tiano
	branch = release/202311
